version: '3.9'

services:
  database:
    build: ./database/
    env_file:
      - ./database/.env
    restart: always
    ports:
     - 6767:5432
    volumes:
      - ./database/create_table.sql:/docker-entrypoint-initdb.d/create_table.sql

  broker:
      build: ./rabbit/
      env_file:
      - ./rabbit/.env
      restart: always
      ports:
        - "15672:15672"
        - "5672:5672"

  app:
    build: ./rest-api/
    depends_on:
      - database
      - broker
    restart: always
    ports:
      - 6666:8888
  
  bis_log_app:
    build: ./bis-log-backend/
    depends_on:
      - database
      - broker
      - minio
    restart: always
    ports:
      - 6667:8000
  

  smtp:
    build: ./smtp/
    depends_on:
      - broker
    restart: always

  minio:
    build: ./minio/
    env_file:
      - ./minio/.env
    restart: always
    ports:
      - 9000:9000
      - 9001:9001
    
  ofp-pipeline-service:
    build: ./ofp-pipeline-service/
    depends_on:
      - minio
      - broker
    restart: always

  nginx:
    build: ./nginx/
    depends_on:
      - app
      - bis_log_app
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf